*.swp
*.un~
Thumbs.db
common/packager
common/apf
client/icons/Thumbs.db
client/common
build/src
build/app.build.js
.settings.xml
.project
.settings
.sessions
/demo
.settings.xml.old
.DS_Store
/nbproject
aut.js
helloworld.js
.*.gz
.c9revisions
.c9search
.architect/
.sourcemint/
/mapped_packages/
deps/ace/
plugins-server/fixtures/
npm-debug.log
plugins-client/lib.apf/www/apf-packaged/apf_debug.js
.sessions/
